header a {
   background-color: greenyellow;
   color: blue;
   text-decoration: none;
   font-size: 20px;
   border: 2px solid aqua;
   border-radius: 30px;
   padding: 10px;
   margin: 50px;
   font-family: "Advent Pro", sans-serif;
}

h1 {
   color: firebrick;
   font-family: "Shantell Sans", serif;
   text-align: center;
}

p {
   font-family: "Neucha", serif;
   color: white;
}

footer a {
   background-color: greenyellow;
   color: blue;
   text-decoration: none;
   font-size: 20px;
   border: 2px solid aqua;
   border-radius: 30px;
   padding: 10px;
   margin: 50px;
   font-family: "Advent Pro", sans-serif;
}
